@import url("https://fonts.cdnfonts.com/css/pt-root-ui");

@import "./vars";

*,
html,
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

//Стили проекта
* {
  color: var(--theme-text);
  font-family: $font-family;
}

div, span, button {
  border-radius: $border-radius;
}

@mixin types() {
  &.is-danger {
    background-color: var(--theme-danger);
  }
  
  &.is-success {
    background-color: var(--theme-secondary);
  }
}

// Animations
@import "./animations";

// input
@import "./input";

//link
a {
  color: var(--theme-link);
}

// button
button.link-btn, span.link-btn {
  background-color: var(--theme-link-btn);
  padding: $large-padding $large-padding * 2;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: none;

  @include types();
}

.page__filters {
	background-color: var(--theme-surface);
  padding: 0 $medium-padding $large-padding;
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.page__content {
  margin: 10px;
}

// заменить на table-cell
.table-field, .table-cell {
	min-width: 50%;
	border: none;
	padding: 4px;

	&__name {
		max-width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		font-size: 10px;
		display: block;
		color: #757575;
		padding: 8px;
		padding-bottom: 0;
		min-height: 24px;
	}

	&__value {
		display: block;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 8px;
		padding-top: 0px;
	}
}

.table-subrow {
	padding: 8px;
	border: none;
	width: 100%;
}
