$theme-map-tvz: (
    theme-primary: #296CEE,
    theme-secondary: #2AC04B,
    theme-surface: #fff,
    theme-background: #F0F2F8,
    theme-text: #232537,
    theme-light-text: #FFFFFF,
    theme-link: #0061A6,
    theme-light-background: #fbfcfd,
    theme-placeholder: #a1a5bd,
    theme-shadow: rgba(17, 42, 134, 0.102),
    theme-danger: rgba(241, 62, 68, 0.575),
);

// $theme-map-dark: (
//     theme-primary: #f34c83,
//     theme-secondary: #c298dc,
//     theme-surface: #2f2b2b,
//     theme-background: #1b1918,
//     theme-on-primary: #443e41,
//     theme-on-secondary: #000,
//     theme-on-surface: #f5f1f2,
// );