$theme-map-tvz: (
    theme-primary: #296CEE,
    theme-secondary: #2AC04B,
    theme-surface: #fff,
    theme-background: #F0F2F8,
    theme-text: #232537,
    theme-light-text: #FFFFFF
);

// $theme-map-dark: (
//     theme-primary: #f34c83,
//     theme-secondary: #c298dc,
//     theme-surface: #2f2b2b,
//     theme-background: #1b1918,
//     theme-on-primary: #443e41,
//     theme-on-secondary: #000,
//     theme-on-surface: #f5f1f2,
// );